* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    border: none;
    font-size: 20px;
    padding: 10px 15px;
    outline-color: khaki;
}

button {
    margin: 10px;
    font-size: 15px;
    padding: 5px 10px;
}

h2 {
    margin: 20px 0;
}